[submodule "deps/known-folders"]
	path = deps/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "deps/zignite"]
	path = deps/zignite
	url = https://github.com/shunkeen/zignite.git
